body {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    flex-direction: column;
}

div#container {
    display: flex;
    flex-wrap: wrap;
    width: 32vw;
    height: 32vw;
    border: 100px;
    outline-width: 1vw;
    outline-style: solid;
    outline-color: red;
}

div.grid {
    margin: 0;
    max-height: 0px;
    max-width: 0px;
    /* padding: 1vw; */
}

button#resize {
    background-color: yellow;
    border-radius: 50px;
}